extends layout

block content
  h1 Alrt
  p Start a timer via the url, eg
  a(href='/1h3s') 1 hour, 3 seconds
  p or
  a(href='/2 minutes 50 seconds') 2 minutes, 50 seconds
  br
  br
  br
  br 
  p
    | The code for this site is open source: 
    a(href="https://github.com/juliangruber/alrt.io") fork me
    .
    br
    | by   
    a(href="http://twitter.com/juliangruber") @juliangruber
    .
  