extends layout

block content
  h1#title= title
  p#time
  script 
    ;(function update() {
      var intervals = {
        WEEK: 604800000,
        DAY: 86400000,
        HOUR: 3600000,
        MINUTE: 60000,
        SECOND: 1000
      }
      
      var toGo = #{duration};
      
      (function tick() {
        document.getElementById('time').innerHTML = formatDate(toGo);
        scale();
        toGo -= 1000;
        window.setTimeout(tick, 1000);
      })();
      
      window.onload = scale;
      window.onresize = scale;
      
      function formatDate(ms) {
        var output = [];
        var buf;
        for (i in intervals) {
          if (ms>=intervals[i] || i=='SECOND') {
            buf = Math.floor(ms/intervals[i]);
            output.push(buf+i.substr(0,1).toLowerCase());
            ms -= buf*intervals[i]
          }
        }
        return output.join(' ');
      }
      
      function scale() {
        var width = Math.floor(0.9*document.body.clientWidth);
        var el = document.getElementById('time');
        found = false;
        var size;
        while(!found) {
          if (el.style.fontSize == '' || el.getClientRects()[0].width > width) size = 12;
          el.style.fontSize = ++size+'px';
          console.log(el.getClientRects()[0].width);
          if (el.getClientRects()[0].width >= width) found = true;
        }
      }
      
    })();